/************Page setup*************/
html{
  background-color:  #DCC8AA;
  height: 100%;
  width: 100%;
}

/**********Panels,bars,tabs*********/
.item-info-box{
  background-color: #a8a8a8;
  border-left: 6px solid #F7892F;
  padding: 20px;
  text-align: center;
}
.top-tabs-bar{
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: white;

  -webkit-box-shadow: 0 4px 13px -2px rgba(42, 42, 42, 0.71);
  -moz-box-shadow: 0 4px 13px -2px rgba(42, 42, 42, 0.71);
  box-shadow: 0 4px 13px -2px rgba(42, 42, 42, 0.71);
}

.side-panel-competitors{
  padding-top: 50px;
  position: fixed;
  top: 0;
  left: 70px;
  height: 100%;
  width: 290px;
  background-color:  #5D5D5D;

  -webkit-box-shadow: 10px 0 4px -8px rgba(112,111,112,1);
  -moz-box-shadow: 10px 0 4px -8px rgba(112,111,112,1);
  box-shadow: 10px 0 4px -8px rgba(112,111,112,1);
}
.side-panel-tools-competitor{
  padding: 5px;
  position: fixed;
  top: 50px;
  left: 0;
  width: 80px;
  height: 100%;
  background-color: #a8a8a8;
  overflow-y: auto;
  direction: rtl;
}
.side-panel-competitors-center{
  width: 290px;
  height: 100%;
  background-color: #5D5D5D;
  overflow-y: auto;
}
.side-panel-competitors-buttons-bar{
  position: fixed;
  top: 60px;
  left: 70px;
  width: 150px;
  height: 90px;
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #a8a8a8;

  -webkit-box-shadow: 0 4px 13px -2px rgba(42, 42, 42, 0.71);
  -moz-box-shadow: 0 4px 13px -2px rgba(42, 42, 42, 0.71);
  box-shadow: 0 4px 13px -2px rgba(42, 42, 42, 0.71);
}

/***************Items***************/
.competitor-item{
  border-bottom: 1px solid #a8a8a8;
  width: 100%;
  padding: 15px 15px 15px 25px;
}

.top-panel-item{
  display: inline-block;
  text-decoration: none;
  color: #5D5D5D;
  font-weight: bold;
  padding: 15px;
}
.top-panel-item:hover{
  text-decoration: none;
  color: #F7892F;
}
.top-panel-item:focus{
  text-decoration: none;
  color: #F7892F;
}
.competitor-item:hover{
  background-color: #a8a8a8;
}

.selected-competitor{
  background-color: #a8a8a8;
}
/**************Effects**************/
@keyframes glowing {
  0% { box-shadow: 0 0 -10px #c4a300; }
  40% { box-shadow: 0 0 20px #c4a300; }
  60% { box-shadow: 0 0 20px #c4a300; }
  100% { box-shadow: 0 0 -10px #c4a300; }
}

.button-glow {
  animation: glowing 5000ms infinite;
}

/**************Containers***********/
.container-center{
  padding-top: 50px;
  width: 100%;
  height: 100%;
  background-color:  #DCC8AA;
}
.parser-options-container{
  width: 100%;
  text-align: center;
  padding: 10px;
}
.items-table-container{
  width: 100%;
  padding: 30px 50px 80px 120px;
}
.competitors-table-container{
  width: 100%;
  padding: 30px 50px 80px 365px;
  margin-left: 10px;
}
.button-tools-competitor-container{
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
}
/**************Buttons**************/
.delete-competitor-btn{
  background-color: #F7892F;
  color: white;
  margin: 5px;
}
.edit-competitor-btn{
  background-color: #F7892F;
  color: white;
  margin: 5px;
}
.upload-url{
  background-color: #F7892F;
  color: white;
  margin: 5px;
}
.add-url{
  background-color: #F7892F;
  color: white;
  margin: 5px;
}
.round-btn{
  border-radius: 25px;
  height: 50px;
  width: 50px;
  border: none;
  -webkit-box-shadow: -1px 5px 17px -2px rgba(66,66,66,1);
  -moz-box-shadow: -1px 5px 17px -2px rgba(66,66,66,1);
  box-shadow: -1px 5px 17px -2px rgba(66,66,66,1);
}
.round-btn-orange{
  border-radius: 25px;
  height: 50px;
  width: 50px;
  border: none;
  background: #F7892F;
  -webkit-box-shadow: -1px 5px 17px -2px rgba(66,66,66,1);
  -moz-box-shadow: -1px 5px 17px -2px rgba(66,66,66,1);
  box-shadow: -1px 5px 17px -2px rgba(66,66,66,1);
}
.round-btn:hover, .round-btn-orange:hover, .tool-btn:hover{
  background-color: #c06524;
}
.round-btn-sm{
  border-radius: 15px;
  height: 25px;
  width: 25px;
  border: none;
  -webkit-box-shadow: -1px 5px 17px -2px rgba(66,66,66,1);
  -moz-box-shadow: -1px 5px 17px -2px rgba(66,66,66,1);
  box-shadow: -1px 5px 17px -2px rgba(66,66,66,1);
}
.tool-btn{
  margin: 5px 10px 5px 10px;
  background-color: #F7892F;
  color: white;
}
.tool-btn-competitor{
  margin: 2px 2px 2px 2px;
  background-color: #F7892F;
  color: white;
}
.add-new-item-btn{
  background-color: #F7892F;
  color: white;
  position: fixed;
  top: 100px;
  left: 30px;
}
.add-new-competitor-btn{
  background-color: #F7892F;
  color: white;
  margin: 20px 5px 5px 5px;
}
.back-to-top-btn{
  background-color: #F7892F;
  color: white;
  position: fixed;
  bottom: 30px;
  left: 30px;
}
.back-to-top-item-btn{
  background-color: #F7892F;
  color: white;
  position: fixed;
  bottom: 15px;
  left: 15px;
}
.back-to-top-competitor-btn{
  background-color: #F7892F;
  color: white;
  margin: 50px 5px 5px 5px;
}
.upload-csv-btn{
  background-color: #F7892F;
  color: white;
  position: fixed;
  top: 160px;
  left: 30px;
}
.upload-competitor-csv-btn{
  background-color: #F7892F;
  color: white;
  margin: 5px 5px 50px 5px;
}
.upload-csv-btn:focus, .add-new-item-btn:focus,
.back-to-top-btn:focus, .tool-btn:focus, .back-to-top-item-btn:focus,
.upload-competitor-csv-btn:focus, .add-new-competitor-btn:focus,
.delete-competitor-btn:focus, .edit-competitor-btn:focus,
.add-url:focus, .upload-url:focus, .back-to-top-competitor-btn:focus, .round-btn-orange:focus{
  outline: none;
}

.disabled{
  background-color: #a8a8a8;
}

.disabled-hover{
  background-color: #a8a8a8;
}

.disabled-hover:hover{
  background-color: #a8a8a8 !important;
}

/**********Titles and Text********/
.page-name{
  text-align: center;
  padding-top: 30px;
  color: #5D5D5D;
}

.subtitle{
  text-align: center;
  padding: 10px;
  color: white;
}

.subtitle-dark{
  text-align: center;
  padding: 10px 10px 20px 10px;
  color: #5D5D5D;
}

.item-title{
  padding: 15px 8px 8px 25px;
  color: #F7892F;
}
.comp-title{
  padding: 15px 8px 8px 25px;
  color: #DCC8AA;
}

.item-element{
  color: #DCC8AA;
}

/**************Table**************/
table, th, td {
  border: 1px solid #a8a8a8;
  border-collapse: collapse;
}
th, td {
  padding: 10px !important;
  text-align: left;
}
td{
  background-color: white;
  color: #5D5D5D;
}
td:last-child{
  color: white;
  background-color: #5D5D5D;
  text-align: center !important;
}
th{
  text-align: center !important;
  color: white;
  background-color: #5D5D5D;
}

.analysis-td{
  color: #5D5D5D !important;
  background-color: white !important;
}

.analysis-snd-header{
  background-color: #797979 !important;
  color: white !important;
}

/**************Containers***********/
.container-center{
  padding-top: 50px;
  width: 100%;
  height: 100%;
  background-color:  #DCC8AA;
}
.parser-options-container{
  width: 100%;
  text-align: center;
  padding: 10px;
}
.items-table-container{
  width: 100%;
  padding: 30px 50px 80px 120px;
}
.competitors-table-container{
  width: 100%;
  padding: 30px 50px 80px 365px;
  margin-left: 10px;
}
.button-tools-competitor-container{
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
}
/**************Buttons**************/
.delete-competitor-btn{
  background-color: #F7892F;
  color: white;
  margin: 5px;
}
.edit-competitor-btn{
  background-color: #F7892F;
  color: white;
  margin: 5px;
}
.upload-url{
  background-color: #F7892F;
  color: white;
  margin: 5px;
}
.add-url{
  background-color: #F7892F;
  color: white;
  margin: 5px;
}
.round-btn{
  border-radius: 25px;
  height: 50px;
  width: 50px;
  border: none;
  -webkit-box-shadow: -1px 5px 17px -2px rgba(66,66,66,1);
  -moz-box-shadow: -1px 5px 17px -2px rgba(66,66,66,1);
  box-shadow: -1px 5px 17px -2px rgba(66,66,66,1);
}
.round-btn-orange{
  border-radius: 25px;
  height: 50px;
  width: 50px;
  border: none;
  background: #F7892F;
  -webkit-box-shadow: -1px 5px 17px -2px rgba(66,66,66,1);
  -moz-box-shadow: -1px 5px 17px -2px rgba(66,66,66,1);
  box-shadow: -1px 5px 17px -2px rgba(66,66,66,1);
}
.round-btn:hover, .round-btn-orange:hover, .tool-btn:hover{
  background-color: #c06524;
}
.round-btn-sm{
  border-radius: 15px;
  height: 25px;
  width: 25px;
  border: none;
  -webkit-box-shadow: -1px 5px 17px -2px rgba(66,66,66,1);
  -moz-box-shadow: -1px 5px 17px -2px rgba(66,66,66,1);
  box-shadow: -1px 5px 17px -2px rgba(66,66,66,1);
}
.tool-btn{
  margin: 5px 10px 5px 10px;
  background-color: #F7892F;
  color: white;
}
.tool-btn-competitor{
  margin: 2px 2px 2px 2px;
  background-color: #F7892F;
  color: white;
}
.add-new-item-btn{
  background-color: #F7892F;
  color: white;
  position: fixed;
  top: 100px;
  left: 30px;
}
.add-new-competitor-btn{
  background-color: #F7892F;
  color: white;
  margin: 20px 5px 5px 5px;
}
.back-to-top-btn{
  background-color: #F7892F;
  color: white;
  position: fixed;
  bottom: 30px;
  left: 30px;
}
.back-to-top-item-btn{
  background-color: #F7892F;
  color: white;
  position: fixed;
  bottom: 15px;
  left: 15px;
}
.back-to-top-competitor-btn{
  background-color: #F7892F;
  color: white;
  margin: 50px 5px 5px 5px;
}
.upload-csv-btn{
  background-color: #F7892F;
  color: white;
  position: fixed;
  top: 160px;
  left: 30px;
}
.upload-competitor-csv-btn{
  background-color: #F7892F;
  color: white;
  margin: 5px 5px 50px 5px;
}
.upload-csv-btn:focus, .add-new-item-btn:focus,
.back-to-top-btn:focus, .tool-btn:focus, .back-to-top-item-btn:focus,
.upload-competitor-csv-btn:focus, .add-new-competitor-btn:focus,
.delete-competitor-btn:focus, .edit-competitor-btn:focus,
.add-url:focus, .upload-url:focus, .back-to-top-competitor-btn:focus, .round-btn-orange:focus{
  outline: none;
}

.disabled{
  background-color: #a8a8a8;
}

/**********Titles and Text********/
.page-name{
  text-align: center;
  padding-top: 30px;
  color: #5D5D5D;
}

.subtitle{
  text-align: center;
  padding: 10px;
  color: white;
}

.subtitle-dark{
  text-align: center;
  padding: 10px 10px 20px 10px;
  color: #5D5D5D;
}

.item-title{
  padding: 15px 8px 8px 25px;
  color: #F7892F;
}

.item-element{
  color: #DCC8AA;
}

/**************Table**************/
table, th, td {
  border: 1px solid #a8a8a8;
  border-collapse: collapse;
}
th, td {
  padding: 10px !important;
  text-align: left;
}
td{
  background-color: white;
  color: #5D5D5D;
}
td:last-child{
  color: white;
  background-color: #5D5D5D;
  text-align: center !important;
}
th{
  text-align: center !important;
  color: white;
  background-color: #5D5D5D;
}







/**************Filter Model Section**************/

.open-filter-modal.btn{
  position: static;
  transform: none;
  width: 100%;
}

.disp-none{
  display: none;
}

.modal-filter-from-to-text{
  padding: 10px 0;
  text-align: center;
}

.modal-filter{
  position: fixed;
  top:70px;
  right: 0;
  left: 0;

  .modal-filter-background{
    position: absolute;
    top: -70px;
    width: 100%;
    height: 100vh;
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
    z-index: -1;
  }

  h2{
    text-align: center;
  }
}

.modal-filter__main-section{

  input,.input{
    color:#5D5D5D;
    border: 1px solid #5D5D5D;
    outline: none;
    border-radius: 2px;
    padding:5px;
    width:100%;
  }
  display: flex;
  max-width: 1000px;
  border-radius: 5px;
  margin: 0 auto;
  background-color: #5D5D5D;
  box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.75);
  color:white;

}

.modal-filter__main-section-item{
  flex-basis: 25%;
  position: relative;
  border-left: 1px solid white;
  padding:10px 10px 60px 10px;
}

.modal-filter__main-section-item:hover{
  .link-active{
    box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.75);
  }

  background-color: white;
  color:black;
  .submit-button{
    display: inline-block;
  }
}

.noborder-left{
  border-left:none;
}

.submit-button{
  width:100px;
  position: absolute;

  bottom: 10px;
  left:50%;
  transform: translateX(-50%);
  background-color: #5D5D5D;
  outline:none;
  border:none;
  color:white;
}

.submit-button:hover{
  box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.75);
  background-color: #5D5D5D;
  color:white;
}


.submit-button:active{
  background-color: #211818;
  outline: none;
}

.submit-button:active:focus{
  outline: none;
}

.submit-button:focus{
  outline: none;
}

.link-active{
  background-color: #5D5D5D;
  color: white;
}

.modal-filter-average-section{


  div{
    margin:5px 0;
    padding:5px;
    border-radius: 4px;
  }

  div:hover{
    cursor: pointer;
    background-color: #5D5D5D;
    color: white;
    box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.75);
  }

  div:active{
    background-color: #211818;
  }
}

.modal-filter-select-all{
  border-radius: 4px;
  width:100%;
  height: 100px;
  border:2px solid #5D5D5D;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.modal-filter-select-all:hover{
  cursor: pointer;
}

.modal-filter-text-or{
  padding: 10px 0;
}