<% include common/header.ejs %>
<body>
<div class="container-center">
    <div class="items-table-container">
        <h1 class="page-name">Analysis of Parsing</h1>
        <br/>
        <br/>
        <div class="modal-filter">
            <div class="modal-filter__main-section">
                <div class="modal-filter__main-section-item noborder-left">
                    <h3 class="modal-filter__main-section-h">By date:</h3>
                    <div class="modal-filter-from-to-text">From</div>
                    <input class="modal-filter__main-section-input" type="date" name="dateFrom" id="datefrom">
                    <input class="modal-filter__main-section-input" type="time" name="dateFrom" id="timefrom">
                    <div class="modal-filter-from-to-text">Till</div>
                    <input class="modal-filter__main-section-input" type="date" name="dateTill" id="datetill">
                    <input class="modal-filter__main-section-input" type="time" name="dateFrom" id="timetill">
                    <button class="btn submit-button disp-none" type="button">Sort</button>
                </div>
                <div class="modal-filter__main-section-item modal-filter-average-section mobile-no-border-left ">
                    <h3 class="modal-filter__main-section-h">By price:</h3>
                    <div class="modal-filter-choose-item" id="any">Any</div>
                    <div class="modal-filter-choose-item" id="lt">Less than our</div>
                    <div class="modal-filter-choose-item" id="mt">More than our</div>
                    <div class="modal-filter-choose-item" id="met">More or same as our</div>
                    <div class="modal-filter-choose-item" id="let">Less or same as our</div>
                    <button class="btn submit-button disp-none" type="button">Sort</button>
                </div>
                <div class="modal-filter__main-section-item mobile-no-border-left">
                    <h3 class="modal-filter__main-section-h">By brand:</h3>
                    <div class="modal-filter-select-all">Select all brands</div>
                    <div class="modal-filter-text-or">Or enter name of brand: </div>
                    <div class="form-group input">
                        <label for="sel1">Select list:</label>
                        <select class="form-control" id="sel1">
                            <% brands.forEach( brand => { %>
                                <option><%= brand%></option>
                            <% }) %>
                        </select>
                    </div>
                    <button class="btn submit-button disp-none" type="button">Sort</button>
                </div>
                <div class="modal-filter__main-section-item mobile-no-border-left">
                    <h3 class="modal-filter__main-section-h">By competitors:</h3>
                    <div class="modal-filter-select-all">Select all competitors</div>
                    <div class="modal-filter-text-or">Or enter link of competitor: </div>
                    <div class="form-group input">
                        <label for="sel2">Select list:</label>
                        <select class="form-control" id="sel2">
                            <% competitors.forEach(competitor => { %>
                                <option><%= competitor.site%></option>
                            <% }) %>
                        </select>
                    </div>
                    <button class="btn submit-button disp-none" type="button">Sort</button>
                </div>
                <div>

                </div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <div class="loading-msg" style="display: none;">
            <h1>Loading data...</h1>
        </div>
        <table style="width:100%" id="employee_table">
        </table>
    </div>
    <a  href="#">
        <button class="withTooltip back-to-top-btn round-btn withTooltip"  data-toggle="tooltip"  data-placement="top" title="Return to top">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </button>
    </a>
</div>

<% include common/top_panel.ejs %>
<% include common/footer.ejs %>