<% include common/header.ejs %>
<body>
<div class="container-center">
    <div class="items-table-container">
        <h1 class="page-name">Analysis of Parsing</h1>
        <br/>
        <br/>
        <div class="modal-filter">
            <div class="modal-filter__main-section">
                <div class="modal-filter__main-section-item noborder-left">
                    <h3 class="modal-filter__main-section-h">By date:</h3>
                    <div class="modal-filter-from-to-text">From</div>
                    <input class="modal-filter__main-section-input" id="dateFrom" type="date" name="dateFrom">
                    <input class="modal-filter__main-section-input" id="timeFrom" type="time" name="timeFrom">
                    <div class="modal-filter-from-to-text">Till</div>
                    <input class="modal-filter__main-section-input" id="dateTill" type="date" name="dateTill">
                    <input class="modal-filter__main-section-input" id="timeTill" type="time" name="timeTill">

                </div>
                <div class="modal-filter__main-section-item modal-filter-average-section mobile-no-border-left ">
                    <h3 class="modal-filter__main-section-h">By price:</h3>
                    <div class="modal-filter-choose-item" id="any">Any</div>
                    <div class="modal-filter-choose-item" id="===">Equal</div>
                    <div class="modal-filter-choose-item" id="<">Less than our</div>
                    <div class="modal-filter-choose-item" id=">">More than our</div>
                    <div class="modal-filter-choose-item" id=">=">More or same as our</div>
                    <div class="modal-filter-choose-item" id="<=">Less or same as our</div>
                    <input type="hidden" id="byPrice-filter" name="byPrice"/>
                </div>
                <div class="modal-filter__main-section-item mobile-no-border-left">
                    <input type="hidden" id="byBrand" name="byBrand"/>
                    <h3 class="modal-filter__main-section-h">By brand:</h3>
                    <div class="modal-filter-text-or">Select name of brand: </div>
                    <div class="form-group input">
                        <label for="brand-select">Select list:</label>
                        <select class="form-control" id="brand-select">
                            <option>all</option>
                            <% brands.forEach( brand => { %>
                                <option><%= brand%></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
                <div class="modal-filter__main-section-item mobile-no-border-left">
                    <input type="hidden" id="byComp" name="byComp"/>
                    <h3 class="modal-filter__main-section-h">By competitors:</h3>
                    <div class="modal-filter-text-or">Select link of competitor: </div>
                    <div class="form-group input">
                        <label for="competitor-select-filter">Select list:</label>
                        <select class="form-control" id="competitor-select-filter">
                            <option>all</option>
                            <% competitors.forEach(competitor => { %>
                                <option><%= competitor.site%></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
                <div>

                </div>
            </div>
            <button class="btn submit-button" type="button">Sort</button>
        </div>
        <br/>
        <br/>
        <br/>
        <div class="loading-msg" style="display: none;">
            <h1>Loading data...</h1>
        </div>
        <table style="width:100%;" id="employee_table">
        </table>
    </div>
    <a  href="#">
        <button class="withTooltip back-to-top-btn round-btn withTooltip"  data-toggle="tooltip"  data-placement="top" title="Return to top">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </button>
    </a>
    <a href="#" class="btn download-button" role="button">Download</a
</div>

<% include common/top_panel.ejs %>
<% include common/footer.ejs %>