<% include common/header.ejs %>
<body>
<div class="container-center">
    <div class="competitors-table-container">
        <table style="width:100%" id="employee_table">
                <tr id="myHeader">
                    <th>Id</th>
                    <th>Article</th>
                    <th>Name</th>
                    <th>URL</th>
                    <th>Tools</th>
                </tr>
        </table>
    </div>
    <br>
    <a  href="#">
        <button class="back-to-top-btn round-btn">^</button>
    </a>
</div>
<!-- Add Competitor item form Modal -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" action="/addcompitemurl">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Item</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="form-group input">
                            <label for="item-select">Select item id: </label>
                            <select class="form-control" id="item-select">
                                <% items.forEach( item => { %>
                                    <option><%= item.id%></option>
                                <% }) %>
                            </select>
                        </div>
                        <input type="hidden" class="form-control" name="id" id="itemid"/>
                        <label for="website-add-url">Website: </label>
                        <input type="text" class="form-control" name="site" id="website-add-url" disabled/>
                        <label for="url">Url: </label>
                        <input type="text" class="form-control" name="url" id="url" required/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-warning" value="save"/>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Add Competitor form Modal -->
<div class="modal fade" id="addCompetitorformModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" action="/addcompetitor">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myCompetitorModalLabel">Add New Competitor:</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="competitorname">Competitor name: </label>
                        <input type="text" class="form-control" name="comp_name" id="competitorname"/>
                        <label for="website">Website: </label>
                        <input type="text" class="form-control" name="site" id="website" required/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-warning" value="save"/>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit competitor item form Modal -->
<div class="modal fade" id="editformModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" action="/editUrlCompetitor">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myEditModalLabel">Edit Item</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="editUrl">Url: </label>
                        <input type="text" class="form-control" name="url" id="editUrl"/>
                        <input type="hidden" class="form-control" name="comp_id" id="comp_id"/>
                        <input type="hidden" class="form-control" name="item_id" id="item_id"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-warning" value="Save"/>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit Competitor name form Modal -->
<div class="modal fade" id="editNameformModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" action="/editcompetitor">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myEditNameModalLabel">Edit Competitor</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="editcompetitorname">Competitor name: </label>
                        <input type="text" class="form-control" name="comp_name" id="editcompetitorname" required/>
                        <label for="editcompetitorsite">Competitor website: </label>
                        <input type="text" class="form-control" name="site" id="editcompetitorsite" required/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-warning" value="Save"/>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- File upload form Modal -->
<div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myfileLabel">CSV File Upload</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="file" id="csv-file" accept=".csv"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" name="load_data_competitors" id="load_data_competitors" class="btn btn-warning" data-dismiss="modal">Load Data</button>
                </div>
        </div>
    </div>
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" action="/deletecompetitor">
                <input type="hidden" id="delete-form-site" name="_id" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myDeleteLabel">Delete selected competitor?</h4>
                </div>
                <div class="modal-body">
                    <h1 class="label label-warning">This action cannot be undone!</h1>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-warning" value="Delete"/>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="side-panel-competitors" >
    <div class="side-panel-competitors-center">
        <% competitors.forEach(competitor => { %>
        <div class="competitor-item" id=<%=competitor._id%>>
            <div class="competitor-name">
                <%=competitor.comp_name%></div>
            <div class="competitor-site">
                <%=competitor.site%></div>
        </div>
        <% }) %>
    </div>
</div>
<div class="side-panel-tools-competitor">
    <div class="button-tools-competitor-container">
        <button class="add-new-competitor-btn round-btn" data-toggle="modal" data-target="#addCompetitorformModal">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        <button class="upload-competitor-csv-btn round-btn" data-toggle="modal" data-target="#fileModal">
            <span class="glyphicon glyphicon-file"></span>
        </button>
        <button class="delete-competitor-btn round-btn"  data-toggle="modal" data-target="#deleteConfirmationModal">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        <button class="edit-competitor-btn round-btn" data-toggle="modal" data-target="#editNameformModal">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <button class="add-url round-btn" data-toggle="modal" data-target="#formModal">
            <span class="glyphicon glyphicon-link"></span>
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        <a  href="#">
            <button class="back-to-top-competitor-btn round-btn">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </button>
        </a>
    </div>
</div>
<% include common/top_panel.ejs %>
<% include common/footer.ejs %>