<div class="top-tabs-bar">
    <a href="/items">
        <div class="top-panel-item" >
            Goods
        </div>
    </a>
    <a href="/competitors">
        <div class="top-panel-item" >
            Competitors
        </div>
    </a>
</div>